<h2>Our rooms</h2>
<table class="table">
<thead class="table-dark">
  <tr>
    <th>Select room</th>
    <th>Room number</th>
    <th>Even/Odd</th>
    <th>Room type</th>
    <th>Price</th>
    <th>Status</th>
    <th>Description</th>
    <th>Image</th>
    <th>Check in date</th>
    <th>Check out date</th>
    <th>Anemities</th>
  </tr>
</thead>
  <tbody>
  <tr 
  [ngClass]="e ? 'even' : 'odd'" 
  *ngFor="let room of rooms; let e = even; let o = odd;">
    <td>
      <button class="btn btn-primary" (click)="selectRoom(room)">Select</button>
    </td>
    <td>{{ room.number }}</td>
    <td>{{ e ? "Even" : "Odd"}}</td>
    <td>{{ room.type }}</td>
    <td>{{ room.price | currency:'PLN' }}</td>
    <td>{{ room.status }}</td>
    <td>{{ room.description }}</td>
    <td><img class="border border-dark" [src]="room.image" width="100" height="100" /></td>
    <td>{{ room.checkInDate | date }}</td>
    <td>{{ room.checkOutDate | date }}</td>
    <td>
      <ul>
        <li *ngFor="let amenity of room.anemities">{{ amenity }}</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
